{% extends 'layout/default.html' %}
{% load my_filters %}

{% block title %}
News
{% endblock title %}


{% block content %}

<h1>Все новости и статьи</h1>
{% if posts %}
    <form method="GET">
        {{ filter.form }}
        <input class="btn btn-primary" type="submit" value="Поиск">
    </form>
    <table class="table">
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Дата публикации</th>
            <th scope="col">Текст</th>
            <th scope="col">Действия</th>
        </tr>
    {% for post in filter.qs %}
        <tr>
            <td><a href="{% url 'news:post_detail' post.id %}">{{ post.title|Censor }}</a></td>
            <td>{{ post.dateCreation|date:'d.m.Y' }}</td>
            <td>{{ post.text|truncatechars:50|Censor }}</td>
            <td>
                <a href="{% url 'news:post_edit' post.id %}">Редактировать</a> |
                <a href="{% url 'news:post_delete' post.id %}">Удалить</a>
            </td>
        </tr>
    {% endfor %}
    </table>

    <div style="text-align: center">
        {% include 'news/parts/paginator.html' %}
    </div>

{% else %}
    <h2>Нет новостей или статей</h2>
{% endif %}

<div style="display: flex; justify-content: space-between;">
    <div>
        {% if author %}
            {% if is_not_author %}
                <a href="{% url 'news:upgrade' %}">
                    <button class="btn btn-success">Стать автором</button>
                </a>
            {% endif %}
    </div>
    <div>
        <a href="{% url 'news:post_create' %}">
            <button class="btn btn-success btn-hover"> + </button>
        </a>
    </div>
        {% endif %}

</div>

{% endblock content %}
